body {
	margin: 0;
    padding: 0;
    background: url(backgroundimage.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
	width: 320px;
	height: 420px;
	background: #1f8eff;
	color: #fff;
	top: 50%;
	left: 50%;
	box-shadow: inset 0px 0px 2px 2px #0096ff;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 20px;
}

.image{
	width: 100px;
	heigh: 100px;
	border-radius: 50%;
	posotion: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}

.loginbox p{
	margin: 0;
	padding: 8px;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 15px;
}
.loginbox input[type="text"], input[type="password"]{
	border: none;
	margin: 10;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #0c0604;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #f4fffc;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	fort-size: 8px;
	line-height: 15px;
	color: darkgrey;
}
.loginbox a:hover{
	color: #f4fffc;
}